/*----------------------------------------------------------------------------*/
/*                    OVERRIDES                                               */
/*-----------------------------------------------------------------------------*/
.site-header{
    background: transparent url('images/bg-header-1.png') top left no-repeat;
}

body.custom-background, body{
    background-color: #858585 !important; 

    background-image: linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -o-linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -moz-linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -webkit-linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -ms-linear-gradient(top, #858585 31%, #B7C2BA 84%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.31, #858585),
            color-stop(0.84, #B7C2BA)
    );
}

body .site{
    box-shadow: 4px 3px 13px 7px #6B6B6B;
-webkit-box-shadow: 4px 3px 13px 7px #6B6B6B;
-moz-box-shadow: 4px 3px 13px 7px #6B6B6B;
-o-box-shadow: 4px 3px 13px 7px #6B6B6B;
}

body .site{
    background-color: #f1edf0;
}

header#masthead.site-header{
     background-color: #000;
}





footer[role="contentinfo"]{
    background-color: #303030;
}


footer div.site-info{
    background-color: #000;
}



.widget-title, .widget-title h3{
    background-color: #303030;
    color:#aaa;
    background: url("images/ui-bg_diagonals-thick_8_333333_40x40.png") 50% top repeat-x;
}


.widget ul{
    background-color: #f1ede5;
}


.widget-area .widget li { 
        margin: 8px 0 0;
	margin: 0.571428571rem 0 0;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.714285714;
	list-style-type: square;
	list-style-position: inside;
}




.widget_search input[type=text]{
    background: transparent url('images/input-search.png') top left no-repeat;
    color:#aaa;
}

.widget_search input[type=submit]{
    background: transparent url('images/button-search-1.png') top left no-repeat;
    color:transparent;
}



.site-content nav a{
   color:#444;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                       CLASSI PROPRIE DEL TEMA                                        */
/*-----------------------------------------------------------------------------------------------*/
.marker{

    background-color:#E0ECF0;
    
}
/*-----------------------------------------------------------------------------------------------*/
/*                                       TOOLTIP STYLES                                        */
/*-----------------------------------------------------------------------------------------------*/

.ui-tooltip, .arrow:after {
    background: white;
    border: 2px solid white;
}

.ui-tooltip {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px #303030;

}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);

}

.arrow.top:after {
    bottom: -20px;
     top: auto;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                         UI -TABS                                              */
/*-----------------------------------------------------------------------------------------------*/

.ui-tabs .ui-tabs-panel{
    background-color: #eee;
}

.ui-tabs-nav li.ui-tabs-active a{
    background-color: #eee;
}

/*---------------------------------------------------------------------------
        SLIDE CONTENT LEADERS
-----------------------------------------------------------------------------*/
.content-leaders-wrapper.ui-widget-content, .leaders-list.ui-widget{
    background: #000;
    color:#fff;
}
.content-leaders-wrapper.ui-widget-content a {
    color:#fff;
}

.content-leaders-wrapper{
    background: url(../../images/slideshow-bg.png) bottom left no-repeat;
    text-shadow: 2px 2px 3px #aaa;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
}

.content-leaders-wrapper a img {

    padding:8px;
    border:solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 1px 2px 2px 1px;
    background-color:white;
 }


/*---------------------------------------------------------------------------
        BUTTONS NAV SLIDE( 32 x 46 )  
-----------------------------------------------------------------------------*/

.leaders-prev span, .flickr-sets-prev span , .flickr-photos-prev span{
    background: url('images/previous-white.png') no-repeat;;
}

.leaders-next span, .flickr-sets-next span , .flickr-photos-next span {
    background: url('images/next-white.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-prev a span{
    background: url('images/previous-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-next a span{
    background: url('images/next-black.png') no-repeat;;
}

/*----------------------------------------------------------------------------
            MENU TOP
-----------------------------------------------------------------------------*/
ul#nav-menu-top {
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #111,  #333);
  background: -ms-linear-gradient(top,  #111,  #333);
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#333));
  background: -moz-linear-gradient(top,  #111,  #333);
}
ul#nav-menu-top a {
  color: #ededed;
  text-shadow: 2px 2px 3px #00a;
}
ul#nav-menu-top .active a, ul#nav-menu-top li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #3B3B3B,  #616161);
  background: -ms-linear-gradient(top,  #3B3B3B,  #616161);
  background: -webkit-gradient(linear, left top, left bottom, from(#3B3B3B), to(#616161));
  background: -moz-linear-gradient(top,  #3B3B3B,  #616161);
  color: #dedede;
  box-shadow: 0 1px 1px rgba(200, 200, 200, .2);
  text-shadow: 2px 2px 3px #222;
}

ul#nav-menu-top ul a:hover {
  background: #04ACEC !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  text-shadow: 2px 2px 3px #FFFFFF;
}
ul#nav-menu-top ul {
  background: #111;
  background: linear-gradient(top,  #111,  #444);
  background: -ms-linear-gradient(top,  #111,  #444);
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#444));
  background: -moz-linear-gradient(top,  #111,  #444);
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #666;
  border: solid 1px #999;
}
ul#nav-menu-top ul a {
  color:#ededed !important;
  text-shadow: 2px 2px 3px #00a;
}

/*-----------------------------------------------
    MENU CATEGORIE ALTERNATIVE
----------------------------------------------- */

.main-navigation div.menu-primo-container > ul {
    border-color: #222222;
    box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  -moz-box-shadow: 2px 2px 3px #666;
}
.main-navigation li a {
     text-shadow: 2px 2px 3px #00a;
}

.main-navigation a:hover {
    color: #ef4567 !important;
}
.main-navigation li ul li a {
    background: #333 !important;
    border-color: #222;
}
.main-navigation li a {
    color: #efefef !important;
}



/*---------------------------------------------------------------------------
        FLICKR
-----------------------------------------------------------------------------*/
.flickr-sets .flickr-sets-wrapper .Sets .SetCase{
    padding-top:7px;
    width: 91px;
    height: 95px;
    background: url(../../images/set_case.gif) no-repeat;
}

/*---------------------------------------------------------------------------
        CROSS POST
-----------------------------------------------------------------------------*/
.cross-post {
        border-color: #3d3d3d;
}

.cross-post-list > div:first-child {
        border-color: #3d3d3d;
}