/*----------------------------------------------------------------------------*/
/*                    OVERRIDES                                               */
/*-----------------------------------------------------------------------------*/
.site-header{
    background: #fece2f url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) left top repeat-x; 
}

.site{
  background-color:  #feeebd;
}


/*----------------------------------------------------------------------------
            MENU TOP
-----------------------------------------------------------------------------*/
ul#nav-menu-top {
   background: #fece2f url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) left top repeat-x; 
}
ul#nav-menu-top a {
  color: #444444;
  text-shadow: 2px 2px 3px #aaaaaa;
}
ul#nav-menu-top .active a, ul#nav-menu-top li:hover > a {
  background: #D40399;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#d4d411), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}

ul#nav-menu-top ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  text-shadow: 2px 2px 3px #FFFFFF;
}
ul#nav-menu-top ul {
  background: #fece2f;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#817865), to(#666));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
  border: solid 1px #B4B4B4;
}
ul#nav-menu-top ul a {
  color:#ededed !important;
  text-shadow: 2px 2px 3px #333;
}

/*------------------------------------------------
        MENU CATEGORIE ALTERNATIVE
----------------------------------------------- */

.main-navigation div.menu-primo-container > ul {
    border-color: #222222;
    box-shadow: 2px 2px 3px #494437;
  -webkit-box-shadow: 2px 2px 3px #494437;
  -moz-box-shadow: 2px 2px 3px #494437;
}

.main-navigation li a {
     text-shadow: 2px 2px 3px #aaaaaa;
}

.main-navigation li a:hover {
    color: #a45b13 !important;
}

.main-navigation li ul li a:hover {
    color: #ffdd57 !important;
}
.main-navigation li ul li a {
    background: #817865 !important;
    border-color: #494437;
    color:#ededed !important;
}
.main-navigation li a {
    color: #111 !important;
}

/*---------------------------------------------------------------------------
        SEARCH AREA ( HEADER O FOOTER )
-----------------------------------------------------------------------------*/
.widget_search input[type=text]{
   background: #fefefe url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") top left no-repeat;
  
}

.widget_search input[type=submit]{
    background: transparent url("images/button-search-light.png") top left no-repeat;
    color:transparent;
    display: inline-block;
    margin: 1px 0;
}

/*---------------------------------------------------------------------------
        BUTTONS NAV SLIDE( 32 x 46 )  
-----------------------------------------------------------------------------*/

.leaders-prev span, .flickr-sets-prev span , .flickr-photos-prev span{
    background: url('images/previous-black.png') no-repeat;;
}

.leaders-next span, .flickr-sets-next span , .flickr-photos-next span {
    background: url('images/next-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-prev a span{
    background: url('images/previous-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-next a span{
    background: url('images/next-black.png') no-repeat;;
}
/*---------------------------------------------------------------------------
        SLIDE CONTENT LEADERS    
-----------------------------------------------------------------------------*/

.content-leaders-wrapper{
    background: url(../../images/slideshow-bg.png) bottom left no-repeat;
    text-shadow: 2px 2px 3px #aaaaaa;
    box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
}

.content-leaders-wrapper a img {

    padding:8px;
    border:solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 1px 2px 2px 1px;
    background-color:white;
 }

 
/*---------------------------------------------------------------------------
        FLICKR
-----------------------------------------------------------------------------*/
.flickr-sets .flickr-sets-wrapper .Sets .SetCase{
    padding-top:7px;
    width: 91px;
    height: 95px;
    background: url(../../images/set_case.gif) no-repeat;
}

/*---------------------------------------------------------------------------
        CROSS POST
-----------------------------------------------------------------------------*/
.cross-post {
        border-color: #3d3d3d;
}

.cross-post-list > div:first-child {
        border-color: #3d3d3d;
}