/*----------------------------------------------------------------------------*/
/*                    OVERRIDES                                               */
/*-----------------------------------------------------------------------------*/
.site-header{
    background: #fece2f url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) left top repeat-x; 
}

.site{
  background-color:  #feeebd;
}

/*---------------------------------------------------------------------------
        SEARCH AREA ( HEADER O FOOTER )
-----------------------------------------------------------------------------*/
.widget_search input[type=text]{
   background: #fefefe url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") top left no-repeat;
  
}

.widget_search input[type=submit]{
    background: transparent url("images/button-search-light.png") top left no-repeat;
    color:transparent;
    display: inline-block;
    margin: 1px 0;
}

/*---------------------------------------------------------------------------
        BUTTONS NAV SLIDE( 32 x 46 )  
-----------------------------------------------------------------------------*/

.leaders-prev span, .flickr-sets-prev span , .flickr-photos-prev span{
    background: url('images/previous-black.png') no-repeat;;
}

.leaders-next span, .flickr-sets-next span , .flickr-photos-next span {
    background: url('images/next-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-prev a span{
    background: url('images/previous-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-next a span{
    background: url('images/next-black.png') no-repeat;;
}

/*---------------------------------------------------------------------------
        FLICKR
-----------------------------------------------------------------------------*/
.flickr-sets .flickr-sets-wrapper .Sets .SetCase{
    padding-top:7px;
    width: 91px;
    height: 95px;
    background: url(images/set_case.gif) no-repeat;
}

/*---------------------------------------------------------------------------
        CROSS POST
-----------------------------------------------------------------------------*/
.cross-post {
        border-color: #3d3d3d;
}

.cross-post-list > div:first-child {
        border-color: #3d3d3d;
}