/*----------------------------------------------------------------------------*/
/*                    OVERRIDES                                               */
/*-----------------------------------------------------------------------------*/
.site-header{
    background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) left top repeat-x; 
    color:#000;
}


body.custom-background, body{
    background-color: #858585 !important; 

    background-image: linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -o-linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -moz-linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -webkit-linear-gradient(top, #858585 31%, #B7C2BA 84%);
    background-image: -ms-linear-gradient(top, #858585 31%, #B7C2BA 84%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.31, #858585),
            color-stop(0.84, #B7C2BA)
    );
}

body .site{
    box-shadow: 4px 3px 13px 7px #6B6B6B;
-webkit-box-shadow: 4px 3px 13px 7px #6B6B6B;
-moz-box-shadow: 4px 3px 13px 7px #6B6B6B;
-o-box-shadow: 4px 3px 13px 7px #6B6B6B;
}
.site.ui-widget-content{
    color:#111;
}

.site-content article, .cross-post{
    border-color: #777;
}

/*----------------------------------------------------------------------------
            MENU TOP
-----------------------------------------------------------------------------*/
ul#nav-menu-top {
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #CCCCCC,  #EDEDED);
  background: -ms-linear-gradient(top,  #CCCCCC,  #EDEDED);
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#EDEDED));
  background: -moz-linear-gradient(top,  #CCCCCC,  #EDEDED);
}
ul#nav-menu-top a {
  color: #444444;
  text-shadow: 2px 2px 3px #aaaaaa;
}
ul#nav-menu-top .active a, ul#nav-menu-top li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}

ul#nav-menu-top ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  text-shadow: 2px 2px 3px #FFFFFF;
}
ul#nav-menu-top ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
  border: solid 1px #B4B4B4;
}
ul#nav-menu-top ul a {
  color:#424242 !important;
  text-shadow: 2px 2px 3px #FFFFFF;
}


.main-navigation div.nav-menu {
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") left top repeat-x;
   
}


.widget-title, .widget-title h3{
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% top repeat-x;
}

/*---------------------------------------------------------------------------
        FOOTER
-----------------------------------------------------------------------------*/
footer[role="contentinfo"]{
    background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) left top repeat-x; 
}


/*---------------------------------------------------------------------------
        SEARCH AREA ( HEADER O FOOTER )
-----------------------------------------------------------------------------*/
.widget_search input[type=text]{
   background: #fefefe url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") top left no-repeat;
  
}

.widget_search input[type=submit]{
    background: transparent url("images/button-search-light.png") top left no-repeat;
    color:transparent;
    display: inline-block;
    margin: 1px 0;
}


/*---------------------------------------------------------------------------
        BUTTONS NAV SLIDE( 32 x 46 )  
-----------------------------------------------------------------------------*/

.leaders-prev span, .flickr-sets-prev span , .flickr-photos-prev span{
    background: url('images/previous-black.png') no-repeat;;
}

.leaders-next span, .flickr-sets-next span , .flickr-photos-next span {
    background: url('images/next-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-prev a span{
    background: url('images/previous-black.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-next a span{
    background: url('images/next-black.png') no-repeat;;
}


