


body .site{
    max-width: 1040px;
    max-width: 74.285714285rem;
    padding: 0;
    margin-top:0;
}

div#main.wrapper{
    padding:14px 40px 0 40px;
    padding:1rem 2.857142857rem 0 2.857142857rem;
}

header.site-header{
    padding-top:0;
    padding-bottom:5px;
    padding-bottom:0.357143rem;
    
}

header.site-header hgroup{
    max-width: 960px;
    max-width: 68.571428571rem;
    padding:24px 40px 0 40px;
    padding:1.714285714rem 2.857142857rem 0 2.857142857rem;
}





header.item-right h1{
    margin:0 0 0 135px;
    margin:0 0 0 9.642857143rem;
    clear: none;
/*    border:1px solid black;*/
}
div.item-right{
/*    border:1px solid black;*/
    margin:0 0 0 135px;
    margin:0 0 0 9.642857143;
}

img.floatleft , div.floatleft {
    border: 0 none;
    float: left;
}

.site-content article {
    min-height: 100px;
    min-height: 7.142857rem;
}

/*
* elemento footer
*/
footer[role="contentinfo"]{
/*    position: fixed;
    bottom:0;
    width: 1040px;
    width: 74.285714285rem;*/
    
    
    margin: 0 auto;
    max-width: 1040px;
    max-width: 74.285714285rem;
    padding-bottom: 0;
}

footer div.batraz-info{
    min-height: 56px;
    min-height: 4rem;
    padding:14px;
    padding:1rem;
}

footer div.site-info{
    min-height: 28px;
    min-height: 2.0rem;
    padding:7px;
    padding:.5rem

}

footer div.site-info p.copyright{
    float:left;
}

footer div.site-info p.annotation{
    float:right;
}

/* articoli */
.site-content article{
   /* padding: 14px; */
}

/* elementi widgets */
.widget-title{
    line-height: 36px;
    line-height: 2.571428571428571rem;
    padding-left:14px;
    padding-left:1.0rem;
}

.widget-area .widget h3 {
    margin-bottom: 0;
}

/* liste su widgets laterali */
.widget ul{
    padding-top:14px;
    padding-bottom:14px;
    padding-left:14px;
}



.widget-area .widget li { 
    padding: 8px 0 8px 28px;
    padding: 0.5714285714rem 0 0.5714285714rem 2rem;
    text-decoration: none;
}

.widget-area .widget li a { 
    text-decoration: none;
}

.template-front-page .widget-area .widget li{
    
}

/* widgets in footer */
.template-front-page.two-sidebars .batraz-info .widget_search,
.batraz-info .widget_search{
    float:right;
}

.batraz-info .widget_search input[type=text]{
    border: 0 none;
    margin: 0;
    padding: 5px 10px;
    width: 225px;
    float: left;
}

.batraz-info .widget_search input[type=submit]{
    border: 0 none;
}


.entry-meta .taxonomies-article{
    margin-right: 14px;
    margin-right: 1rem;
    float:right;
}

.entry-meta{
    overflow: hidden;
    width: 100%;
}

.entry-meta .taxonomies-article .taxonomy-article span{
  font-weight: bold;
    
}

.entry-meta .taxonomies-article .taxonomy-article a{
  font-weight: bolder;
  color:red;
  text-decoration: none;
    
}


/*---------------------------------------------------------------------------
        SLIDE CONTENT LEADERS    
-----------------------------------------------------------------------------*/
.header-leaders{
    min-height: 35px;
    min-height: 2.5rem;
    line-height: 35px;
    line-height: 2.5rem;
    
    margin-top:21px;
    margin-top:1.5rem;
    
    padding-left: 14px;
    padding-left: 1rem;
    font-style: italic;
    width:96%;
    margin-left: auto;
    margin-right: auto;
}

.header-leaders span{
    line-height: 20px;
    line-height: 1.428571rem;
}

.leaders-list{
    margin-bottom: 14px !important;
}

.content-leaders, .flickr-sets, .flickr-photos{
    position: relative;
/*    margin:0 10px;
    margin :0 0.714285714rem;*/
     margin: 0 14px;
     margin :0 1rem;
    max-width:99%; 

}

.content-leaders, .flickr-sets{
    height:170px;
    height: 12.14285714rem;
    overflow:hidden;
}

.leaders-nav, .flickr-sets-nav , .flickr-photos-nav{
    position: absolute;
    height: 100%;
    z-index: 8010;
}

.leaders-nav span, .flickr-sets-nav span,  .flickr-photos-nav span, nav.nav-single-otp span {
     position: absolute;
     width: 32px;
     height: 64px;
     margin-top: -32px;
     z-index: 8010;
     top: 50%;
}

.leaders-prev, .flickr-sets-prev , .flickr-photos-prev {
	left: 0;
}

.leaders-next, .flickr-sets-next, .flickr-photos-next {
	right: 32px;
}



.content-leaders .content-leaders-wrapper{
    padding:10px 0 10px 0;
    padding :0.714285714rem 0 0.714285714rem  0;
    height:148px;
    overflow:hidden;
    text-align: center;
    white-space: nowrap;
}

.content-leaders p{
    display: inline-block;
    width:140px;
    width:10rem;
    height:130px;
    height: 9.285714rem;
    margin:0 20px;
    margin:0 1.42857rem;
}

.content-leaders .content-leaders-wrapper a{
    text-decoration: none;
    padding-top:7px;
    display: block;
}


/*---------------------------------------------------------------------------
        FLICKR
-----------------------------------------------------------------------------*/
.site-content-full .entry-header .entry-title{
    display:none;
}


.flickr-sets .flickr-sets-wrapper{
    padding:36px 0 20px 0;
    padding :2.571428rem 0 1.42857143rem  0;
    text-align: center;
    white-space: nowrap;
    height:120px;
    overflow:hidden;
   
}



.flickr-photos .flickr-photos-wrapper{
    text-align: center;
/*    white-space: nowrap;*/
       
}

.flickr-sets .flickr-sets-wrapper .Sets{
    display: inline-block;
    width:100px;
    width : 7.14286rem;
    margin:0 20px;
    margin:0 1.42857rem;
}

 .flickr-photos .flickr-photos-wrapper .imageContainer{
    display: inline-block;
}


.flickr-photos .imageContainer span{
    display: block;
}

/*---------------------------------------------------------------------------
        OTP NAV
-----------------------------------------------------------------------------*/
nav.nav-single-otp{
    position: relative;
    min-height: 140px;
    min-height: 10rem;
    margin:14px 0 14px 0;
    padding-top:14px;

}

nav.nav-single-otp > span{
     position: absolute;
     text-align: center;
     width: 100%;
     font: bold "Helvetica Neue", Sans-Serif;
     text-transform: uppercase;
    
}
    

nav.nav-single-otp div{
    display: inline-block;
    position: absolute;
}


nav.nav-single-otp .nav-single-otp-prev{
    left : 0;
    
}

nav.nav-single-otp .nav-single-otp-next{
    right : 10px;
    
}


nav.nav-single-otp .nav-single-otp-prev a span {
/*     position: absolute;*/
     width: 32px;
     height: 64px;
     margin-top: -32px;
     margin-left: -24px;
     z-index: 8010;
     top: 50%;
     
}

nav.nav-single-otp .nav-single-otp-next a span {
/*     position: absolute;*/
     width: 32px;
     height: 64px;
     margin-top: -32px;
/*     margin-right: 20px;*/
     z-index: 8010;
     top: 50%;
     
}

nav.nav-single-otp .nav-single-otp-prev a img {
     margin-left:10px;
}

/*---------------------------------------------------------------------------
        CROSS POST
-----------------------------------------------------------------------------*/
.cross-post {
	border-bottom: 4px double;
	margin-bottom: 72px;
	margin-bottom: 5.142857143rem;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.cross-post-list > div:first-child {
	border-top: 4px double;
	margin-top: 72px;
	margin-top: 5.142857143rem;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/*---------------------------------------------------------------------------
        TABLE IN ENTRY CONTENT
-----------------------------------------------------------------------------*/
.entry-content table{
    border: 1px solid;
    border-color: #000000;
    border-collapse: separate;
}

.entry-content td{
    border: 1px solid;
    border-color: #000000;
}

.entry-content td p{
    margin: auto;
}
