.main-navigation div.nav-menu
{
    padding:0 40px;
    padding:0 2.857142857rem;
}

.main-navigation div.nav-menu ul{
    border-top:none;
    border-bottom:none; 
   
}

ul#nav-menu-top {
  width: 48%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 0 6px;
  height: 34px;
  line-height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  position:absolute;
  right:2px;
  top:7px;
  z-index:999;
}
ul#nav-menu-top li {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
ul#nav-menu-top a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
ul#nav-menu-top .active a, ul#nav-menu-top li:hover > a {
}
ul#nav-menu-top ul li:hover a, ul#nav-menu-top li:hover li a {
  background: none;
  border: none;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
ul#nav-menu-top ul a:hover {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
ul#nav-menu-top ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: -60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
ul#nav-menu-top li:hover > ul {
  display: block;
}
ul#nav-menu-top ul li {
  float: none;
  margin: 0;
  padding: 0;
}
ul#nav-menu-top ul a {
  padding:10px 0px 10px 15px;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
}
ul#nav-menu-top ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
ul#nav-menu-top ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
ul#nav-menu-top:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
ul#nav-menu-top {
  display: inline-block;
}
  html[xmlns] ul#nav-menu-top {
  display: block;
}
* html ul#nav-menu-top {
  height: 1%;
}


.site-content nav{
    line-height: 42px;
    line-height: 3rem;
}

.site-content nav a{
   text-decoration: none;
   font-weight: bolder;
   padding:0 14px 0 14px;
   padding:0 1rem 0 1rem;
}
