/*
        A dark color scheme for Twenty Twelve
        A work in progress
*/

/* =Global
----------------------------------------------- */

a {
    color: #1FA7E4; 
}
a:hover {
    color: #1FA7E4;
}
.site-header h1 a,.site-header h2  a,.site-header h2{
    color: #CCCCCC;
}
.site-header h1 a:hover, .site-header h2 a:hover {
    color: #1FA7E4;
}
body.custom-background, body {
    background: #1d1d1d !important;
    color: #BBBBBB ;
}

/* Misc CSS */
.site{
    background-color: #0f0f0f;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}
/*#page {
    background: #0f0f0f;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}*/
footer[role="contentinfo"] {
    border-top: 1px solid #222222 ;
}
.template-front-page .widget-area {
    border-color:#333333;
}



.site-content article {
    border-bottom: 1px solid #222222 ;
}
.site-content nav { 
    padding-bottom: 10px;
}
article.format-aside .aside {
    background: none repeat scroll 0 0 #EEEEEE;
    border-left: 22px solid #333333;
}
.entry-title a:hover {
    text-decoration:underline;
}
.entry-content a:hover, .entry-summary a:hover, .comment-content a:hover, .site-content nav a:hover, #respond form a:hover {
    text-decoration: underline;
    color: #efefef;
}
.entry-content a, .entry-summary a, .comment-content a, .site-content nav a, #respond form a {
    text-decoration:none;
    color: #1FA7E4;
}
.comments-link a, .entry-meta a, li.bypostauthor cite span {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;	
    padding: 2px 5px;
    text-decoration: none;
    background-color: #222222;
    color: #1FA7E4;
    border: none;
}
.comments-link a:hover, .entry-meta a:hover{ 
    color: #efefef;
}
.entry-title a:hover {
    text-decoration: underline;
    color: #efefef;
}
.widget-area  .widget a:hover, footer[role="contentinfo"] a:hover  {
    color: #1FA7E4;
}
footer[role="contentinfo"] a {
    color: #CCCCCC;
}
.credits {
    float: right;
}  
/* =Menu
----------------------------------------------- */

.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
    border-color: #222222;
}

.main-navigation a:hover {
    color: #efefef !important;
}
.main-navigation li ul li a {
    background: #333 !important;
    border-color: #222;
}
.main-navigation li a {
    color: #cdcdcd !important;
}
/* Images */
.wp-caption {
    background: #2c2c2c;
}
.wp-caption .wp-caption-text {
    color: #999;
}
.wp-caption .wp-caption-text:before {
    color: #999;
}

/* Image borders */
img[class*="wp-image-"],
#content .gallery .gallery-icon img {
    border-color: #2c2c2c;
}
.wp-caption img {
    border-color: #2c2c2c;
}
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"] {
    background: #2c2c2c;
    border-color: #444;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
    background: #0f0f0f;
    border-color: #2c2c2c;
}

/* Password Protected Posts */
.post-password-required input[type=password] {
    background: #ddd;
}
.post-password-required input[type=password]:focus {
    background: #fff;
}

/* Author Info */
.singular #author-info {
    background: #060606;
    border-color: #222;
}
.archive #author-info {
    border-color: #222;
}
#author-avatar img {
    background: #000;
    -webkit-box-shadow: 0 1px 2px #444;
    -moz-box-shadow: 0 1px 2px #444;
    box-shadow: 0 1px 2px #444;
}
#author-description h2 {
    color: #fff;
}


/* =Status
----------------------------------------------- */

.format-status img.avatar {
    -webkit-box-shadow: 0 1px 2px #333;
    -moz-box-shadow: 0 1px 2px #333;
    box-shadow: 0 1px 2px #333;
}

/* =error404
----------------------------------------------- */
.error404 #main #searchform {
    background: #060606;
    border-color: #222;
}


/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
    background: #060606;
    border-color: #222;
}
.image-attachment div.attachment a img {
    border-color: #060606;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
    border-color: #2c2c2c;
    background: #0f0f0f;
}


/* =Widgets
----------------------------------------------- */

.widget-title {
    color: #ccc ;
}
.template-front-page.two-sidebars .batraz-info .widget_search,
.batraz-info .widget_search{
    /*    background: transparent url('images/bg-search.png') top left no-repeat;*/
}

.batraz-info .widget_search input[type=text]{
    background: transparent url('images/input-search.png') top left no-repeat;
    color:#aaa;
}

.batraz-info .widget_search input[type=submit]{
    background: transparent url('images/button-search.png') top left no-repeat;
    color:transparent;
}


/* Calendar Widget */
.widget_calendar #wp-calendar {
    color: #aaa;
}
.widget_calendar #wp-calendar th {
    background: #0b0b0b;
    border-color: #333;
}
.widget_calendar #wp-calendar tfoot td {
    background: #0b0b0b;
    border-color: #333;
}

/* =Comments
----------------------------------------------- */

/* Comment Form */
#respond {
    background: #222;
    border-color: #2c2c2c;
}
#respond input[type="text"],
#respond textarea {
    background: #000;
    border: 4px solid #111;
    color: #bbb;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
    color: #aaa;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
    color: #42caff;
}
#respond input#submit {
    color: #111;
}
#respond input#submit:active {
    color: #40220c;
}
#respond #cancel-comment-reply-link {
    color: #999;
}
#reply-title {
    color: #ccc;
}
#cancel-comment-reply-link {
    color: #777;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
    color: #00b4cc;
}
#respond form {
    border-radius: 5px 5px 5px 5px ;
    margin: 0.71429rem 0 ;
    padding: 10px 15px;
}
#reply-title { padding-left:15px;padding-top:10px; }

a.comment-reply-link, .edit-link  a{
    border-radius: 2px 2px 2px 2px;
    color: #1FA7E4;
    padding: 2px 5px;
    text-decoration: none;
    background-color: #222222;
}
.edit-link a:hover, a.comment-reply-link:hover  { 
    color:#efefef ;
}
.commentlist .avatar {
    border-radius: 3px 3px 3px 3px;
}
/*	Wp-PageNavi CSS3 style */

.wp-pagenavi a,.wp-pagenavi span.current,.wp-pagenavi span.pages {
    background: rgb(255,255,255);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
.wp-pagenavi a:hover,.wp-pagenavi span.current {
    -webkit-box-shadow: 0 1px 1px #666;
    -moz-box-shadow: 0 1px 1px #666;
    box-shadow: 0 1px 1px #666;
}
/* WP-PageNavi Dark default style CSS */
.wp-pagenavi {
    clear: both !important;
    margin-bottom: 20px !important;
}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none !important;
    border: 1px solid #333 !important;
    border-color: #000 !important;
    padding: 5px 8px !important;
    margin: 2px !important;	
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000 !important;
}
.wp-pagenavi span.current {
    font-weight: bold !important;
}
.wp-pagenavi span.extend { 
    background:none !important;
    border:none !important;
}
.wp-pagenavi a,.wp-pagenavi span.current,.wp-pagenavi span.pages,.wp-pagenavi span.extend {
    text-decoration: none !important;
    padding: 5px 8px !important;
    margin: 2px !important;
    border:1px solid #000 !important;
    background: rgb(34, 34, 34) !important; /* Old browsers */
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px 3px 3px 3px !important;
    text-shadow: 1px 1px 1px #000 !important;
}
.wp-pagenavi a:hover,.wp-pagenavi span.current {
    border-color: #000 !important;
    color:#fff !important;
    -webkit-box-shadow: 0 1px 2px #000 !important;
    -moz-box-shadow: 0 1px 2px #000 !important;
    box-shadow: 0 1px 2px #000 !important;
    text-shadow: none !important;
}
.wp-pagenavi span.extend { 
    border:none !important;
    background:none !important;
}



/*-----------------------------------------------------------------------------------------------*/
/*                                         TOOLTIP STYLES      white = 1fa7e4                                  */
/*-----------------------------------------------------------------------------------------------*/

.ui-tooltip, .arrow:after {
    background: #222;
/*    border: 2px solid #1FA7E4;*/
    border: 1px solid #777;
}

.ui-tooltip {
    padding: 10px 20px;
    color: #bbb;
    border-radius: 14px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px #1FA7E4;

}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px #bbb;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);

}

.arrow.top:after {
    bottom: -20px;

    top: auto;
}


/*---------------------------------------------------------------------------
        BUTTONS NAV SLIDE( 32 x 46 )  
-----------------------------------------------------------------------------*/

.leaders-prev span, .flickr-sets-prev span , .flickr-photos-prev span{
    background: url('images/previous-white.png') no-repeat;;
}

.leaders-next span, .flickr-sets-next span , .flickr-photos-next span {
    background: url('images/next-white.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-prev a span{
    background: url('images/previous-white.png') no-repeat;;
}

nav.nav-single-otp .nav-single-otp-next a span{
    background: url('images/next-white.png') no-repeat;;
}

/*---------------------------------------------------------------------------
        FLICKR
-----------------------------------------------------------------------------*/
.flickr-sets .flickr-sets-wrapper .Sets .SetCase{
    padding-top:7px;
    width: 91px;
    height: 95px;
    background: url(images/set_case.gif) no-repeat;
}

/*---------------------------------------------------------------------------
        CROSS POST
-----------------------------------------------------------------------------*/
.cross-post {
        border-color: #ededed;
}

.cross-post-list > div:first-child {
        border-color: #ededed;
}